/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 999px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba($color: #888, $alpha: 0.5);
    border-radius: 999px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #555, $alpha: 0.5);
}